name: IG Test Post

on:
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install deps
        run: pip install requests

      - name: Run script
        env:
          PAGE_TOKEN: ${{ secrets.PAGE_TOKEN }}
          IG_USER_ID: ${{ secrets.IG_USER_ID }}
        run: python main.py
